* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
  width: 99vw;
}

.page {
width: 900px;
margin: 20px auto;
}

.main::after {
  content: "";
  display: table;
  clear: both;
}

/* HEADER */
.header {
  height: 300px;
  position: relative;
  background-image: url(../img/natural-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 7px white;
}

.logo img{
  position: absolute;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo h1 {
  position: absolute;
  top: 80%;
  text-align: center;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

/* NAV BAR */

nav {
  height: 40px;
  background-color: #504741;
  list-style: none;
}

.menu {
  text-align: center;
  line-height: 40px;
}

.menu a {
  display: inline-block;
  padding: 0 6px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  border-right: double 2px #302B27;

}

.menu a:last-child {
  border: none;
}

.menu a:hover {
  background-color: #302B27;
}

/* COLONNA SINISTRA */


.float-left {
  float: left;
  margin-top: 25px;
  padding: 3px;
}

.col-left {
  background-color: red;
  width: 20%;
}

.col-center {
  background-color: blue;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.col-right {
  width: 20%;
}

.col-right div {
  background-color: green;
  margin-bottom: 25px;
}

.footer {
height: 90px;
background-color: pink;
}
