* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
  width: 99vw;
}

.page {
width: 900px;
margin: 20px auto;
}

.main::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
  margin-top: 25px;
}
/* HEADER */
.header {
  height: 300px;
  position: relative;
  background-image: url(../img/natural-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 7px white;
}

.logo img{
  position: absolute;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo h1 {
  position: absolute;
  top: 80%;
  text-align: center;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

/* NAV BAR */

nav {
  height: 40px;
  background-color: #504741;
  list-style: none;
}

.menu {
  text-align: center;
  line-height: 40px;
}

.menu a {
  display: inline-block;
  padding: 0 6px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  border-right: double 2px #302B27;

}

.menu a:last-child {
  border: none;
}

.menu a:hover {
  background-color: #302B27;
}

/* COLONNA SINISTRA */

.col-left {
  background-color: white;
  width: 20%;
  border-radius: 5px;
  padding: 5px;
}

.col-left-head i {
  display: inline-block;
  color: orange;
  font-size: 25px;
  line-height: 100%;
  vertical-align: top;
}
.col-left-head h3 {
  width: 70%;
  display: inline-block;
  margin-left: 8px;
  font-family: 'Ubuntu', sans-serif;
  color: #504741;
  font-size: 24px;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
}

.col-left-main ul li a{
text-decoration: none;
color: green;
line-height: 30px;
font-family: 'Ubuntu', sans-serif;
}

.col-left-main ul li a:hover {
  color: darkgreen;
  text-decoration: underline;
}

/* COLONNA CENTRALE */


.col-center {
  background-color: white;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  padding: 10px;
  line-height: 28px;
  font-family: 'Ubuntu', sans-serif;
}

.col-center h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #504741;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
  margin-top: 15px;
}

/* COLONNA DESTRA */

.col-right {
  width: 20%;
}

.col-right div {
  background-color: white;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 10px;
}

.col-right div h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #504741;
  font-size: 24px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
  margin-top: 15px;
}

.col-right div p {
  line-height: 28px;
  font-family: 'Ubuntu', sans-serif;
}

.footer {
height: 90px;
background-color: pink;
}
